body {
  background: #fff;
  margin: 5px 20px 7px 20px;
  overflow: hidden;
}

a, a:visited {
  color: black;
}

.path {
	margin: 5px 0 5px 0;
}

.green {
  color: green;
}

.red {
  color: red;
}

.status {
  margin-right: 5px;
}
